<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAPPY</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
    <!-- <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}"> -->
</head>
<body>
    <center>
    <h1 style="color: red;margin:2% 20%">YOU SEEMS HAPPY<BR> HERE ARE SOME BOOKS YOU MIGHT WANT TO READ</h1>
    </center>
<section class="hero-section">
    
  <div class="card-grid">
    <a class="card" href="https://www.amazon.in/Slaughterhouse-Five-Modern-Library-Best-Novels/dp/0440180295/ref=sr_1_2?crid=3QOJ9IXZ91DDN&keywords=Slaughterhouse-Five+by+Kurt+Vonnegut&qid=1660396433&sprefix=slaughterhouse-five+by+kurt+vonnegut%2Caps%2C185&sr=8-2">
      <div class="card__background" style="background-image: url('/static/img/book9.jpg')"></div>
    </a>
    <a class="card" href="https://www.amazon.in/Wuthering-Heights-Emily-Bront%C3%AB/dp/8172344899/ref=sr_1_1_sspa?crid=FE6P291X8SKU&keywords=Wuthering+Heights+by+Emily+Bronte&qid=1660396401&sprefix=wuthering+heights+by+emily+bronte%2Caps%2C508&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzRUlZVjRKNktGUDQyJmVuY3J5cHRlZElkPUEwNzA1NTM0M1ZPUVpGSlk2R0wwVyZlbmNyeXB0ZWRBZElkPUEwNjk5NDI3M1JPSlhWUjY4NlJGRyZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
      <div class="card__background" style="background-image: url('/static/img/book10.jpg')"></div>
    </a>
    <a class="card" href="https://www.amazon.in/Fahrenheit-451-Ray-Bradbury/dp/0007491565/ref=sr_1_1_sspa?crid=1MU6LT1HOBEDD&keywords=Fahrenheit+451+by+Ray+Bradbury&qid=1660396371&sprefix=fahrenheit+451+by+ray+bradbury%2Caps%2C180&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExRzdYSFhMMVQzOUdVJmVuY3J5cHRlZElkPUEwMjczNzE2MkhJNzFNUEtUSlcwTCZlbmNyeXB0ZWRBZElkPUEwMjQyMTI1Mk00Rzc3MTg0WFdKOSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
      <div class="card__background" style="background-image: url('/static/img/book11.jpg')"></div>
    </li>
    <a class="card" href="https://www.amazon.in/Charlottes-Web-B-White/dp/0061124958">
      <div class="card__background" style="background-image:url('/static/img/book12.jpg')"></div>
    </a>
  <div>

    
</section>

<section class="hero-section">
    <div class="card-grid">
      <a class="card" href="https://www.amazon.in/Frankenstein-Mary-Shelley/dp/9380816251">
        <div class="card__background" style="background-image: url('/static/img/book13.jpg')"></div>
      </a>
      <a class="card" href="https://www.amazon.in/Hitchhikers-Guide-Galaxy-Douglas-Adams-ebook/dp/B003GK2180">
        <div class="card__background" style="background-image: url('/static/img/book14.jpg')"></div>
      </a>
      <a class="card" href="https://www.amazon.in/Great-Gatsby-F-Scott-Fitzgerald/dp/B08RYK64GM">
        <div class="card__background" style="background-image: url('/static/img/book15.jpg')"></div>

      </li>
      <a class="card" href="https://www.amazon.in/Think-Grow-Rich-Landmark-Bestseller/dp/1585424331">
        <div class="card__background" style="background-image: url('/static/img/book16.jpg')"></div>
        
      </a>
    <div>
  
      
  </section>


</body>
</html>