<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAD</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">
 
</head>
<body> <center>
    <h1 style="color: red;margin:2% 20%"> YOU SEEMS SAD  <Br> HERE ARE SOME BOOKS THAT YOU MIGHT WANT TO READ</h1>
    </center>
<section class="hero-section">
    
  <div class="card-grid">
    <a class="card" href="https://www.amazon.com/Art-Happiness-10th-Anniversary-Handbook/dp/1594488894/">
      <div class="card__background" style="background-image: url('/static/img/book1.jpg')"></div>
      
    </a>
    <a class="card" href="https://www.amazon.com/Happiness-Advantage-Positive-Brain-Success/dp/0307591557/">
      <div class="card__background" style="background-image: url('/static/img/book2.jpg')"></div>
      
    </a>
    <a class="card" href="https://www.amazon.com/Subtle-Art-Not-Giving-Counterintuitive/dp/0062457713?tag=theeverygir-14-bg-20">
      <div class="card__background" style="background-image: url('/static/img/book3.jpg')"></div>
      
    </li>
    <a class="card" href="https://www.amazon.com/Make-Your-Bed-Little-Things/dp/1455570249/ref=zg_bs_4739_7?tag=theeverygir-14-bg-20">
      <div class="card__background" style="background-image:url('/static/img/book4.jpg')"></div>
      
    </a>
  <div>

    
</section>

<section class="hero-section">
    <div class="card-grid">
      <a class="card" href="https://www.amazon.com/Happiness-Project-Tenth-Anniversary-Aristotle/dp/0062946676/ref=sr_1_2?tag=theeverygir-14-bg-20">
        <div class="card__background" style="background-image: url('/static/img/book5.jpg')"></div>
        
      </a>
      <a class="card" href="https://www.amazon.com/Book-Joy-Lasting-Happiness-Changing/dp/0399185046?tag=theeverygir-14-bg-20">
        <div class="card__background" style="background-image: url('/static/img/book6.jpg')"></div>
        
      </a>
      <a class="card" href="https://www.amazon.com/gp/product/0385348630/ref=as_li_qf_sp_asin_il_tl?tag=theeverygir-14-bg-20">
        <div class="card__background" style="background-image: url('/static/img/book7.jpg')"></div>
        
      </li>
      <a class="card" href="https://www.amazon.com/Eat-Pray-Love-Everything-Indonesia/dp/0143038419/ref=sr_1_1?keywords=eat+pray+love+book&qid=1558383517&s=gateway&sr=8-1&tag=theeverygir-14-bg-20">
        <div class="card__background" style="background-image: url('/static/img/book8.jpg')"></div>
        
      </a>
    <div>
  
      
  </section>


</body>
</html>